build/
*.o
*.so
*.a
*.exe
kronouniverse
/test_ecs
/test_physics
/test_noise
/test_movement
/test_ship
/test_inventory
/test_npc
/test_universe
/test_powers
/test_war_god
/test_world
/test_structural
.clangd
.cache/
